/* Stili generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffcccc;
    position: relative;
}

/* Contenitore del video */
.video-container {
    position: absolute;
    z-index: 2;
    width: 95%;
    max-width: 350px;
    aspect-ratio: 9 / 16;
    display: flex;
    justify-content: center;
    align-items: center;
}
video {
    width: 95%;
    height: auto;
    border-radius: 10px;
}

/* Cuori animati */
.heart {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: red;
    transform: rotate(-45deg);
    top: 100vh;
    left: 50%;
    animation: float 5s linear infinite;
}
.heart::before, .heart::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
}
.heart::before {
    top: -15px;
    left: 0;
}
.heart::after {
    left: 15px;
    top: 0;
}
@keyframes float {
    0% {
        transform: translateY(0) scale(1) rotate(-45deg);
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateY(-120vh) scale(1.5) rotate(-45deg);
        opacity: 0;
    }
}
@keyframes pop {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(3);
        opacity: 0;
    }
}
